# https://github.com/github/gitignore
# 上面这个网站包括了很多语言的gitignore文件，可以直接拿来用


# 最后跟 反斜杠 表示忽略的是目录
ignore_files/
cpp_codes/

# 取反
# !ignore_files/diary.md


# 忽略所有以这些为前缀的文件
temp_*



# 忽略所有以这些为后缀的文件
*.pth
*.cpp
*.h
*.exe
*.json
# *.md
# *.jpg
# *.png
# *.txt